.custom-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-header {
    background-color: black;
    color: white;
}

.custom-body  {
    background-color: blue;
    color: white;
}