:root {
    --main-bg-color: black;
    --main-color: white;
}

.custom-container{
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.custom-header {
    display: flex;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    justify-content: center;
    padding-bottom: 20px;
}

.custom-card {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right:40px;
    box-shadow: 10px 10px;
}

